<div class="wrap" [class.move]="isSidebarOpen$ | async">
    <header class="masthead" role="banner">
        <button class="header__btn sidebar-toggle" (click)="onSidebarBtn()" [class.move]="isSidebarOpen$ | async">
            <i class="fa fa-bars" aria-hidden="true"></i> JSON
        </button>
        <button class="header__btn load-img" (click)="onImageLoadBtn()" [class.move]="isSidebarOpen$ | async">
            <i class="fa fa-upload" aria-hidden="true"></i> Load IMG
        </button>
        <div class="container">
            <h3 class="masthead-title">
            JS-editor
            <small>best of the best</small>
          </h3>
        </div>
    </header>
    <main class="content" role="main">
        <div class="content__card">
            <app-card-view [cardModel]="cardModel$ | async">
                <app-card-item #drag appDraggable *ngFor="let textItem of textModels$ | async" [item]="textItem" (onChange)=onItemChange($event)>
                </app-card-item>
            </app-card-view>
        </div>
    </main>
    <div class="edit-menu" [class.show]="isEditMenuOpen$ | async">
        <app-edit-item (onOpenClick)="onEditMenuClick()" (onAddClick)="onAddClick()" (onItemChange)="onItemChange($event)" [item]="selectedIted$ | async" [open]="isEditMenuOpen$ | async"></app-edit-item>
    </div>
    <div class="load-menu" [class.show]="isLoadMenuOpen$ | async">
        <app-load-img (onUpClick)="onLoadMenuUpClick()"
                        (onUrlInput)="onUrlChage($event)"></app-load-img>
    </div>
</div>
<img class="vovka" src="assets/vovka.png">