<div class="sidebar" [class.show]="isOpen$ | async">
    <div class="sidebar-item">
        <p class="center">Загрузите файл
            <strong>.json(
            <a target="_blank" href="assets/exmpl.json">Пример</a>
            )</strong>
            или напишите ручками
        </p>
    </div>
    <app-upload-file (onUpload)="fileWasUpload($event)"></app-upload-file>
    <nav class="sidebar-nav" role="navigation">
        <textarea #textarea
            class="sidebar-textarea"
            [class.invalid]="invalid"
            [value]="model$ | async"
            (keyup)="onKey(textarea.value)">
        </textarea>
    </nav>
    <div class="sidebar-item">
        <p *ngIf="invalid" class="invalid-msg center">Не корректный JSON</p>
    </div>
    <footer class="sidebar-item" role="contentinfo">
        <a href="https://github.com/Geschoss">Geschoss</a>
    </footer>
</div>
