.card {
	margin: 1rem;
	background-size:  cover;
	position: relative;
	width: 100%;
    border-radius: 4px;
    overflow: hidden;
    background: white;
    box-shadow: 0 1px 4px 0 var(--shadow-color, hsla(0, 0%, 0%, 0.1)), 0 0px 4px 0 var(--shadow-color, hsla(0, 0%, 0%, 0.1));
}

.card-view {
	overflow-x: auto;
}