.load-item__header {
    text-align: center;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    border-bottom: 1px solid #ffffff;
    color: white;
}

.load-item__btn {
    position: absolute;
    top: 15px;
    border: 1px solid #adadad;
    z-index: 100;
    background-color: #FFF;
    border-radius: .25rem;
    color: #505050;
    cursor: pointer;
    padding: .2rem .5rem;

}

.up-btn {
    left: 10px;
}

.add-btn {
    right: 10px;
}

