/* Lanyon and Poole are MIT-licensed projects by @mdo, whose work is
wonderful and magical. This code is based on those projects. */
/*
@font-face {
  font-family: 'Fira Code';
  src: url("../../fonts/FiraCode.ttf");
}
*/
* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  margin: 0;
  overflow-x: hidden;
  padding: 0;
}

html {
  font-family: "PT Serif", Georgia, "Times New Roman", serif;
  font-size: 16px;
  line-height: 1.5;
}

@media (min-width: 38em) { html { font-size: 20px } }

body {
  background-color: #FFF;
  color: #515151;

  -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
}

a {
  color: #268BD2;
  text-decoration: none;
}

a strong { color: inherit }

a:hover,
a:focus { text-decoration: underline }

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #313131;
  font-family: "PT Sans", Helvetica, Arial, sans-serif;
  letter-spacing: -.025rem;
  line-height: 1.25;
  margin-bottom: .5rem;
  text-rendering: optimizeLegibility;
}

h1 { font-size: 2rem }

h2 {
  font-size: 1.5rem;
  margin-top: 1rem;
}

h3 {
  font-size: 1.25rem;
  margin-top: 1.5rem;
}

h4,
h5,
h6 {
  font-size: 1rem;
  margin-top: 1rem;
}

.wrap {
  position: relative;
  width: 100%;
}

/* -- Container -- */

.container {
  margin: 0 auto;
  max-width: 28rem;
  padding: 0 1rem;
}

@media (min-width: 38em) { .container { max-width: 32rem } }
@media (min-width: 56em) { .container { max-width: 38rem } }

/* -- Body -- */

p {
  margin-bottom: 1rem;
  margin-top: 0;
  text-align: justify;
}

strong { color: #303030 }

/* -- Lists -- */

ul,
ol,
dl {
  margin-bottom: 1rem;
  margin-top: 0;
}

dt { font-weight: bold }
dd { margin-bottom: .5rem }

/* -- Miscellaneous -- */

hr {
  border: 0;
  border-bottom: 1px solid #FFF;
  border-top: 1px solid #EEE;
  margin: 1.5rem 0;
  position: relative;
}

abbr {
  font-size: 85%;
  font-weight: bold;
  color: #555;
  text-transform: uppercase;
}

abbr[title] {
  border-bottom: 1px dotted #E5E5E5;
  cursor: help;
}

/* -- Images -- */

img {
  border-radius: 5px;
  display: block;
  margin: 0 0 1rem;
  max-width: 100%;
}



.form-group {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-bottom: 0.2rem;
}

.form-control {
    margin: 0 10px;
    padding: 3px 7px;
    font-size: 19px;
    border: 1px solid #e5e5e5;
    border-radius: 4px;
    width: 100%;
    box-shadow: 0 3px 6px rgba(0,0,0,.16), 0 3px 6px rgba(0,0,0,.23);
}

.edit-label {
    padding: 0 10px;
    color: white;
}






